@font-face {
font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 300;
src: local('Airbnb Cereal App'), url('AirbnbCerealLight.woff') format('woff');
}

@font-face {
font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 700;
src: local('Airbnb Cereal App'), url('AirbnbCerealBold.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

    

    @font-face {
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 900;
    src: local('Airbnb Cereal App'), url('AirbnbCerealBlack.woff') format('woff');
    }